*{
    margin:0 ;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    background-color: rgb(219, 219, 219);
    font-family: Helvetica, Arial, sans-serif;
}



footer {
    background: gray;
    width: 100%;
    padding: 25px 35px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: absolute;
    bottom: 0;
}

footer h2 {
    font-size: 20px;
    margin: 0;
}

footer div {
    text-align: right;
}

.search {
    font-size: 20px;
    padding: 10px;
    line-height: 2;
    font-weight: bold;
    padding: 25px;
}

.current {
    padding: 20px;
}

.data {
    list-style: none;
    line-height: 3;
    font-size: 20px;
}

.uv {
    border-radius: 10px;
    padding: 5px;
}







